<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'drugs')}">

<body>

  <h2>Owner</h2>
  <form th:object="${drug}" class="form-horizontal" id="add-drug-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Name', 'name')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Package size', 'packageSize')}" />
      <input
        th:replace="~{fragments/inputField :: input ('PZN', 'pzn')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${drug['new']} ? 'Add Drug' : 'Update Drug'"
          class="btn btn-default" type="submit" th:text="${text}">Add Drug</button>
      </div>
    </div>
  </form>
</body>
</html>
