<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'patients')}">


<body>

  <h2 th:text="#{patient}">Patient</h2>
  <form th:object="${patient}" class="form-horizontal" id="add-patient-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('First Name', 'firstName')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Last Name', 'lastName')}" />


    </div>
      
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${patient['new']} ? 'patientAdd' : 'patientUpdate'"
          class="btn btn-default" type="submit" th:text="#{${text}}">Add Patient</button>
      </div>
    </div>
  </form>
</body>

</html>
