<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body}, 'patients')}">

<body>

  <form class="form-horizontal" id="add-therapy-form" method="post">
    <h2 th:text="#{therapy}">Therapy</h2>
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Description', 'therapy.name')}" />
    </div>
    <div th:unless="${prescription}" class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input
          th:with="text=${therapy['new']} ? 'therapyAdd' : 'therapyUpdate'" th:value="#{${text}}"
          class="btn btn-default" type="submit" name="save"/>
      </div>
    </div>
    
    <h2 th:text="#{therapyPrescription}">Therapy prescription</h2>
    <ul class="nav nav-tabs">
      <li th:each="prescription : ${therapy.prescriptions}" 
          th:with="class=(${viewState?.prescriptionId} == ${prescription.id}) ? 'active' : ''" th:class="${class}">
        <a th:href="@{prescriptions/{prescriptionId}/edit(prescriptionId=${prescription.id})}" 
           th:text="${prescription.prescriptionDate != null ? #temporals.format(prescription.prescriptionDate, 'dd.MM.yyyy') : 'Offen'}">Date</a>
      </li>
      <li>
        <input
            th:value="#{addPrescription}"
            class="btn btn-default" type="submit" name="addPrescription" value="AddPrescriptions"/>
      </li>
    </ul>
    
    <div th:if="${prescription}">
      <div class="form-group has-feedback">
      <!-- 
          <input type="hidden" id="prescription.id" name="prescription.id" th:value="${prescription.id}"/>
          <input type="text" disabled="disabled" name="viewPrescriptionId" th:value="${viewState?.prescriptionId}"/>
       -->
          <input
            th:replace="~{fragments/inputField :: input ('Number of therapies', 'prescription.count')}" />
          <input
            th:replace="~{fragments/inputField :: input ('Prescription Date', 'prescription.prescriptionDate')}" />
          <input
            th:replace="~{fragments/inputField :: input ('First Therapy Date', 'prescription.firstTherapyDate')}" />
          <input
            th:replace="~{fragments/inputField :: input ('Next Prescription Date', 'prescription.nextPrescription')}" />
            
          <label class="col-sm-2 control-label" th:text="#{daysOfWeek}">Days of week</label>  
          <label><input th:field="*{prescription.onMondays}" type="checkbox"> Mo</label>
          <label><input th:field="*{prescription.onTuesdays}" type="checkbox"> Di</label>
          <label><input th:field="*{prescription.onWednesdays}" type="checkbox"> Mi</label>
          <label><input th:field="*{prescription.onThursdays}" type="checkbox"> Do</label>
          <label><input th:field="*{prescription.onFridays}" type="checkbox"> Fr</label>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input
            th:with="text=${therapy['new']} ? 'therapyAdd' : 'therapyUpdate'" th:value="#{${text}}"
            class="btn btn-default" type="submit" name="save"/>
          <input
            th:if="prescription" th:value="#{addAppointments}"
            class="btn btn-default" type="submit" name="addAppointments" value="AddAppointments"/>
          <input
            th:if="prescription" th:value="#{deletePrescription}"
            class="btn btn-default" type="submit" name="deletePrescription" value="DeletePrescription"/>
        </div>
      </div>
    </div>  
  </form>
  
   <h2 th:text="#{appointments}">Therapy appointments</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Termin</td>
        <td>Datum</td>
        <td>Verschreibung</td>
        <td></td>
      </tr>
    </thead>
    <tr th:each="appointment,app : ${prescription.appointments}">
      <td valign="middle">
        <dl class="dl-horizontal">
          <dt th:text="${app.count}+' von '+${app.size}" /></dt>
        </dl>
      </td>
      <td valign="middle">
        <dl class="dl-horizontal">
          <dt th:text="${appointment.date != null ? #temporals.format(appointment.date, 'E dd.MM.yyyy') : 'Offen'}" /></dt>
        </dl>
      </td>
      <td>
        <dl class="dl-horizontal">
          <dt th:text="${appointment.prescription.prescriptionDate != null ? #temporals.format(appointment.prescription.prescriptionDate, 'dd.MM.yyyy') : 'Offen'}" /></dt>
        </dl>
      </td>
      <td valign="top">
        <div class="container-fluid">
          <a th:href="@{appointments/{appointmentId}/move(direction=-1,appointmentId=${appointment.id})}"
            ><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span></a>
           &nbsp; 
          <a th:href="@{appointments/{appointmentId}/move(direction=1,appointmentId=${appointment.id})}"
            ><span class="glyphicon glyphicon-arrow-right" aria-hidden="true" ></span></a>
           &nbsp; 
          <a th:href="@{prescriptions/{prescriptionId}/appointments/{appointmentId}/moveToEnd(prescriptionId=${prescription.id},appointmentId=${appointment.id})}"
            ><span class="glyphicon glyphicon-arrow-down" aria-hidden="true" ></span></a>
           &nbsp;
          <a th:href="@{prescriptions/{prescriptionId}/appointments/{appointmentId}/edit(prescriptionId=${prescription.id},appointmentId=${appointment.id})}"
            ><span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span></a>
            
        </div>
      </td>
    </tr>
  </table> 
</body>
</html>
