<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'drugs')}">

  <body>
  
  
    <h2 th:text="#{drugDetails}">Drug Information</h2>
    
    <table class="table table-striped" th:object="${drugBoxItem}">
      <tr>
        <th>Name</th>
        <td><b th:text="*{drugName}"></b></td>
      </tr>
      <!-- 
      <tr>
     	<th>Exhaust Date</th>
        <td><b th:text="${#temporals.format(exhaustingDate, 'dd.MM.yyyy')}"></b></td>
      </tr>
      <tr>
     	<th>Inventory Date</th>
        <td><b th:text="${#temporals.format(inventoryDate, 'dd.MM.yyyy')}"></b></td>
      </tr>
       -->
      <tr>
     	<th>Inventory Amount</th>
        <td><b th:text="${inventoryAmount}"></b></td>
      </tr>
    </table>

    <a th:href="edit" class="btn btn-default">Edit Drug</a>
    <a th:href="new" class="btn btn-default">Add New Drug</a>
    
  </body>

</html>