<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'patients')}">

<body>

  <h2 th:text="#{patients}">Patients</h2>

  <table id="patients" class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th th:text="#{name}">Name</th>
        <th th:text="#{exhaustingDate}">First exhausting date</th>
        <th th:text="#{nextAppointmentDate}">Next appointment date</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="patient : ${patients}">
        <td><span th:class="${uitools.getLabelForRemainingDays(patient.remainingDays)}">&nbsp;</span>
            &nbsp;
            <span th:class="${uitools.getLabelForRemainingDays(patient.nextAppointmentDate)}">&nbsp;</span>
        </td>
        <td><a th:href="@{/patients/__${patient.id}__}"><div th:text="|${patient.firstName} ${patient.lastName}|">Edit</div></a></td>
        <td th:if="${patient.exhaustingDate}" th:text="${#dates.format(patient.exhaustingDate, 'dd.MM.yyyy')}"></td>
        <td th:if="${patient.nextAppointmentDate}" th:text="${#dates.format(patient.nextAppointmentDate, 'dd.MM.yyyy')}"></td>
        <td th:unless="${patient.nextAppointmentDate}" th:text="#{noTherapy}">No Therapies</td>
      </tr>
    </tbody>
  </table>

<!-- 
  <table class="table-buttons">
    <tr>
      <td><a th:href="@{/patients.xml}">View as XML</a></td>
      <td>&nbs;</td>	
      <td><a th:href="@{/patients.json}">View as JSON</a></td>
    </tr>
  </table>
 -->

</body>
</html>
