<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'patients')}">

  <body>
  
  
    <h2 th:text="#{patientDetails}">Patient Information</h2>
  
    <table class="table table-striped" th:object="${patient}">
      <tr>
        <th>Name</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${patient.id})}" class="btn btn-default" th:text="#{patientEdit}">Edit Patient</a>
    <a th:href="@{{id}/drugs/new(id=${patient.id})}" class="btn btn-default" th:text="#{drugsAdd}">Add New Drug</a>
  
    <br />
    <br />
    <br />
    <h2>Drugs</h2>

    <table class="table table-striped">
  
      <tr th:each="drugBoxItem : ${patient.drugBoxItems}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt th:text="#{name}">Name</dt>
            <dd th:text="${drugBoxItem.drugName}" /></dd>
            <dt th:text="#{exhaustingDate}">Exhaust Date</dt>
            <dd th:text="${#temporals.format(drugBoxItem.exhaustingDate, 'dd.MM.yyyy')}" /></dd>
            <dt th:text="#{inventoryAmount}">Inventory Amount</dt>
            <dd th:text="${drugBoxItem.inventoryAmount}" /></dd>
          </dl>
        </td>
        <td valign="middle">
          <a th:href="@{{patientId}/drugs/{drugId}/add(patientId=${patient.id},drugId=${drugBoxItem.id})}" class="btn btn-default" th:text="${drugBoxItem.drug.packageSize}">+XX</a>
        </td>
        <td valign="middle">
          <a th:href="@{{patientId}/drugs/{drugId}/edit(patientId=${patient.id},drugId=${drugBoxItem.id})}" class="btn btn-default" th:text="#{edit}">Edit</a>
        </td>
      </tr>
  
    </table>
  
  </body>

</html>